<div class="catalog container">
    <div class="row">
        <div class="product-content col-lg-10 col-md-9">
            <div class="product-sort">
                <div class="filter-total">Всего результатов: <span id="mse2_total">200</span></div>

                <div id="mse2_sort" class="sort-by">
                    <span class="text-bold">Сортировка по:</span>

                    <a href="#" class="sort active">Цена <span>↓</span></a>
                </div>

                <div class="show-by">
                    <span class="text-bold">Показывать по:</span>

                    <label class="select-custom">
                        <span class="select-custom-decor"></span>
                        <svg class="icon-arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                        <select name="mse_limit" id="mse2_limit">
                            <option value="">16</option>
                            <option value="" selected="">32</option>
                            <option value="">40</option>
                            <option value="">52</option>
                            <option value="">68</option>
                            <option value="1000000">Показать все</option>
                        </select>
                    </label>

                </div>
            </div>

            <div class="product-list">
                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0321.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0322.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-2">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0323.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-3">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0324.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-4">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0321.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0322.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-2">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0323.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-3">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0324.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-4">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0321.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0322.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-2">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0323.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-3">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0324.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-4">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0321.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0322.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-2">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0323.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-3">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0324.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-4">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0321.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0322.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-2">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0323.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-3">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0324.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-4">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0321.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0322.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-2">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0323.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-3">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0324.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-4">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0321.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0322.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-2">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0323.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-3">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0324.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-4">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0321.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0322.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-2">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0323.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-3">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->

                <div class="product-item">
                    <div class="product-item-media">
                        <img src="img/example/IMG_0324.JPG" alt="">

                        <div class="product-view" data-toggle="modal" data-target="#product-4">
                            <span class="product-view-text">Быстрый просмотр товара</span>
                        </div>
                    </div>

                    <div class="product-item-title"><a href="#">Pegasus Bracelet</a></div>

                    <div class="product-item-bottom">
                        <button class="btn btn-pink">Купить</button>

                        <div class="product-item-price">
                            1080
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- END product-item -->
            </div>

            <ul class="pagination list-unstyled">
                <li class="disabled"><span>«</span></li>
                <li class="active"><span class="active-text">1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="control"><a href="#">»</a></li>
            </ul>
        </div>

        <aside class="sidebar col-lg-2 col-md-3">
            <div class="filter-toggle btn-light">
                <span>Открыть фильтр</span>
            </div>
            <form action="#" method="post" id="mse2_filters">
                <fieldset id="mse2_ms|price">
                    <h4 class="filter-title">Цена</h4>

                    <div class="mse2_number_slider"></div>

                    <div class="filter-number-inputs">
                        <label for="minCost"><span class="filter-slider-text">От</span>
                            <input type="text" id="minCost" value="50" class="ui-field">
                        </label>
                        <label for="maxCost"><span class="filter-slider-text">До</span>
                            <input type="text" id="maxCost" value="99000" class="ui-field">
                        </label>
                    </div>
                </fieldset>

                <fieldset id="mse2_resource" class="category-list">
                    <h4 class="filter-title">Категория</h4>

                    <label class="label-block">
                        <input type="checkbox" class="checkbox-custom">

                        <span class="checkbox-custom-view label"><svg class="icon-check">
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>Браслеты</span>
                    </label>

                    <label class="label-block">
                        <input type="checkbox" class="checkbox-custom">

                        <span class="checkbox-custom-view label"><svg class="icon-check">
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>Колье</span>
                    </label>

                    <label class="label-block">
                        <input type="checkbox" class="checkbox-custom">

                        <span class="checkbox-custom-view label"><svg class="icon-check">
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>Кольца</span>
                    </label>

                    <label class="label-block">
                        <input type="checkbox" class="checkbox-custom">

                        <span class="checkbox-custom-view label"><svg class="icon-check">
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>Серьги</span>
                    </label>

                    <label class="label-block">
                        <input type="checkbox" class="checkbox-custom">

                        <span class="checkbox-custom-view label"><svg class="icon-check">
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>Комплекты</span>
                    </label>

                    <label class="label-block">
                        <input type="checkbox" class="checkbox-custom">

                        <span class="checkbox-custom-view label"><svg class="icon-check">
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>Подвески</span>
                    </label>

                    <label class="label-block">
                        <input type="checkbox" class="checkbox-custom">

                        <span class="checkbox-custom-view label"><svg class="icon-check">
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>Кулоны</span>
                    </label>

                    <label class="label-block">
                        <input type="checkbox" class="checkbox-custom">

                        <span class="checkbox-custom-view label"><svg class="icon-check">
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>Броши</span>
                    </label>
                </fieldset>
            </form>
        </aside>
    </div>
</div>
